* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  font: 18px/22px "Minion Pro", "Times New Roman", serif;
  margin: 40px;
  max-width: 750px;
}

a {
  color: #33d;
  text-decoration: none;
}

a.external {
  text-decoration: none;
  border-bottom: 1px dashed #33d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ol,
ul,
pre {
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Myriad Pro";
  font-stretch: condensed;
  font-weight: 600;
  margin-top: 20px;
}

h1 {
  margin-top: 0;
  font-size: 200%;
}

h2 {
  font-size: 200%;
  margin-bottom: 200px;
  text-align: right;
}

h3 {
  font-size: 160%;
  margin-bottom: 14px;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 110%;
}

h6 {
  font-size: 100%;
}

ol,
ul {
  margin-left: 30px;
}

dt {
  font-style: italic;
}

dd {
  margin-left: 30px;
}

a.headerlink {
  color: #55d;
  font-size: 0.8em;
  text-decoration: none;
}

a.headerlink:hover {
  background-color: #55d;
  color: white;
}

.body p,
.body dd,
.body li,
.body blockquote {
  text-align: justify;
  line-height: 130%;
}

.admonitionblock {
  display: flex;
  margin-bottom: 20px;
}
.admonitionblock .icon {
  background: 0 0 no-repeat;
  background-size: 89px;
  height: 109px;
  width: 89px;
}
.admonitionblock .icon .title {
  display: none;
}

.admonitionblock td {
  vertical-align: top;
}
.admonitionblock .content {
  padding-top: 16px;
}

.admonitionblock.note .icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALIAAADaCAIAAACNT48IAAAjo0lEQVR4AezUzS4DURiHcZeGjtAtVTU3wErmBoyFFSuL6cRsWrWhkdCtRRvieyTUYmxKROi2aS3Qmenh7dpKckhO8jz5X8Cbk1/OyNePiGBBsCBYECwIFgQLggXBgmBBsCBYECwIFgQLIm0sCBYEC4IFESwIFgQLggXBgmBBsCBYECwIFt3eRzNqs3/Y00vHGBbHF4+j014m50/Msb/aeM4bmymubhwqZQiLo/MHOXp+seK4Ncc9cFb0jbmy2tLyfmGhIji88kmSDpQygUXjrDVZCNa8+m302ozad/eaxy5vntf9hpX3fYNY1E9bWTvYqoaxnDxM6RuTVO/tc3vvOjNbNIzFlL1Z2rnq95M4TpNkoG8slSftdN/leS3jWGTtoLwbpnKx1pNJKdnwtyhVQysPC4IFwYJgoT1YwIJgQbAgWNDvgoX6bu883KLIsr//V/12d3TUdX0nmFHHnB3MOTgGx6zjjEGy5CBBMghIAAEBUUCyZMlBcs6Gcd5P18XeHUHplmql67n1nKfpprurq+793nNPPtC7D0k/IuNJ+4eEhbjnP5WD7755qzt45M4F8VIcvCuOd+LQHD4kLASHePf27Tts/rhRBgZH+wdGOruHWtr6W9v6W9r6mlt7IZ7wUkft/Z3dg3xmaPgVPgKBEa2BQ8KCOcXX2ts/WtvYlV/cmJT+Ij6lLDAyz9k3w9U3w9n7iaNXmpPXYxfvJ7yE3PwyAu7n8Zm0zOrSFy1Nzb19fcPCW6sRaEhY8IHR0TeNL3tik8uIITh4NmzjPh9iTBZtdCHEa+4Ku38vs51tYTPbgifKyxV2PC7Y4LR2l9eWg/dOXImyc0uLTSqtrO0gWFBgQxCH+QkiEha8weSBiaqadlgC0VzfLrH9xwKrfyo0c7EOCgBijoXdHAt7iJeCZlnY8q7uY/N1n5yzzG7NTq8rVvExSaVwjuGR19D/+vS5DEgviUxrlEhY8N7oqzdVdR227qkL1jp+s8gaTjBvlQNBRxDBBET+jdGKsed6IgJFfIyIUWDxzUJrILV+j4+r79OnObVQYXFjTV1HTUNXQ3NPR9cgkgpDOQpW3gNFgGR64UPCgv+/ev2WaXP0Tl+00fnbJTbc5Nyf7Nk4mOb3ZD9GyyGefEB2EJ8HJbrvLrefucRm4QZny8P+lkf8D50Lu2Idd83uoY1bqm9oTmBkQVxyWc7zxoqadjgKKBkcfoU4AkTeI+Svrw8PCQs0iIamHhe/jKWbXL9davsfZdEz9//+LOK7hEHPW2k/a6nt//146x8/3v7n/Nv/WmgF8Z8f1jgu3OCCvLLnVPC56zG27mmBEfmpiKuVrc2tfT19IyOjb3QazddVZyQsGP/2joG7Qc8sNrvCJ1juYt1PnTiV2FzYZcTuA1+Bi8xYbPOvBVb/96MOK8grCzc6bz7od+q3B053n0TGF2cXNrLX9A2MAI6vo+tKWPAP7A2JaS/W7rw7c7E1wgHTqR7pNxdbFBZIEUR0u8x3OqlFhxWAIiRWgAKPWbHNY9+ZUFhIXErZi5oOmIfQdb8cMiQseMWQV9d3nr8ZB5+YpwgTpidbPQmgIM9+p3AUAISoCz742Lrd3pdux0UmFKPr9vUPYyX7YlxDwuLd8PCrmOTSJZtdUTXnimn7kshYZqsXaXV2EaHUKPhgfwGpKy09L1nFx6eUY2NFxYVtSFiYFhY8hzfXv+y5Yh2PPgkDn/Ml0GBP9hUayoQ0f70Tg8uVAA4+xpNvFlohi2za5+vhn1lR3TY49MrUHEPCAgXkz8zcunW7vIHFF+AQ6CBbD/pdvB3n4vMUk7nL38nZ96mdR+plq7jjlyN/uRJ19OL9XSeCNu/327DHZ/Eml5WWHjcck7B/IIdKWJgWFoNDo8FR+TBtU2MCAWL5z+5nr8ckPa6oa+pGyB0Zxfr5N2I76+0brH/ZjaZaXtVaXNGMHSz+UTk7SFhMoY0biIkPjS4YGBwx1bhLWPCXHQSDI3fCFo7qaLpdY/46p32nQ+4GPit70fr2vQdtIuKYOKePscaRW9fQVVLRMjQ8yj2YRPqUsBAT0NYxYO2WwuY91zSw+GGtIwaJP+wT2ap60SaUCeYyPnHwLlvbWDyHIOFvUy7Y5GiQsOAF/PzCrRjMBqrDAukVU+a5G3FJj180NHXzy0zqW+PnVc9IwIaAiMmRIWFRVtm691TwDBPAArUCxbJE2TX4WbHizcP9JWFRXNGy41ig2rCw/XGt08VbsSUvWsSOwKOZ+EUlLBRPOj7M9Xu9hdFCRWv3lgN+GTl1DJD5xZpLTYQbePSkcsEGZ+ybGKFV4xYrHE5ciWxr738rg/bMcRPBlpyQWv7DWifWt3qwcAAWB34NRWrR/dxfEhbmBgvMhRiXMCqoCIu5iuucwE/C/rq6hzQgZkpYqLaJzF5mt3GPT2JaBaZMM5M2JSx4SQj/0i2u6soWgjCbHr8cUV7VhiZiZsiQxm/SQDbv9/lWbSsnDnrSBRasd6ZOJclFsCWz2U0kLHiOi2HnsYAZi63VhYVABkLGyh1eeLkoRCeQYQax/xIWvMB3tftkkN6cZQoi7BsXKOInkeXmEfsvXWXkbpy4GmlKWOAcsbU8EoBDvLisub6hu6NzcHBIif3H2DU98SFh0d45YO+ZRuy16iKnIBEFOMvCzmKr+9EL9687JJEkkpJRVVbV1tjSy2gCEFjIdAnvlrAQ4Q0EvxBD+/0askJMGIMDK4Ih/WP+bWRb6gnrYv+vRTt4pZOqCgsBH8T+wz/eThOzqIzlJJo6/Vnt8q3upmMYgkTgLk+I7RBJrfzcmh2exy9FgI+E1Api/8ktI1X17dfNdJewEDpqXlHjlgO+471lameLCGOGHfhg+HicbUFsN/i4DT6I1rx4Kz44Mq+kvJlSGV8fHBIWWJz2/xoyY9F4HdVU+HifqnpHwYc9jEoX3r3Impy2k1ejAiNyn5e9BByIHV/NASsTAiqq2w+eDZ+xyEYkIn9J0qcyK+lldsgf5A4R5I0DNiAiv6S8pUcYPL48NiQsKHlDfrA+bu+rkHDKiDzVmWPgcD19LTrqYTGB4COjr750II+EBYIe3s5ZS1VIKVNF/lDAcQdwQKTF2nmk5RY1KHbSL8I0JCy4IaGjRj0sQW/UZ6lPG3DYY5Wn7sqxixHRiSXCt2LyHGUJC3FbisOsCVuCPi1gmoBjrgIOfPSwjY17fej6VFvfOYqn3sRuNwkLvQm88+TVB3oT+LQiURUDZBDac9v50fOSpqGh0bdfgGdIWLS1D1i7plIEZxrCQljQAQfSD8nKZ36PzsqrHxwcNakQKmEBvVMyUfP+IzLWpyshh2IBY3MhcTkjx+TIkNVwdMVZk9NfwKV11TanNTLsRRlQTOaZuQIZppEzJCzEvcGZl21zn6XfR6YrCceNHhnwOdMVQpGweJeRW4fve5bF9IaFPrh8DBmRoHl45JWp5kHCgnbQ+FH13GL6I0M84kMpLHtJwov6SquEBYP6OKvGYrMb0r5ZwEKfkEJpx9/tHmLPABnq20BlAcbw2ELUPzMAxDiesWSjMwby+sYubKCqIUMqqPyL0D1G9tulwrduZshAe0KHIvNAZWRIcxZOVKpa6a2c5oiMhRvURoaEBWnE1LYi5ELAwnyRYadDRrcKEyNlC5Fbtml83J45ImOjC60qqF/OnUpYTAkW/Cs9u4bGAAyrgIU5I8Nm1XbPyPjnlOWb2uRIkfNPgr+BhRlpp5PoJhR5fZZfTyjolIQM6SrLfd6wYY+33oNq1qQzZqy0P38zmvr2U/KlSW5Bydz9Z0L0moiZMwy8rKiszl4BWfTQ+3zrp9REXtS0H7lwXxOw0LvTbCku/jirmnZon4kMCQsadhy7FEHgpMgJMHcS1TXm/UTMDltJ12duJRIWTc09V23i9bGc2kAGW8niza502uofHDFa9pSw4F9d3YMuPulm4D41PjJj+9EAao9+zlRJTaSnb8g9IHNcdrIWthI6mFy/k4SBy2gJQ8IC4w8t1En3M3s0jDdwKS2cY5NLR0eNlD1lLCfupdSMKiU6S2vIgOjLR1JrTQOyp4SF4bCAlCJae04Ea0nqFERIMAyDXHj/8FyKM0lYGMEtiM562dJLBSO8ZdrbSsRusu90cGHpS0P3EQkLbkukityPfb5wnfP4TFRt2D1/XOtIS2aqChuirEpY6DNR/ywua9l7MkTvXtceOPaeDi4qfUkdSEOnTeaJ8EZn1yDBCgomNAgLhIwF653o+Cpkz8lnTsJC3B7B06QF0CFGb9fSGHFftMryDsru7R81UMiQsIBodNhPrO9cYQvSKG075J+eXWuIGUPCQt945k16VjX2HxYWXFd7mCAag5oZv/4Rg9PY0GBgCQuORl3L9QS9IVxz5AAyFm9wcfRKp23W5AxDwoKDt6mZlJxeuX6P9xwLO01uJSIdbfV2z6DIPCr5Tc4wJCyEn727Z8jDP1NUDRBDqUlLxrrdd2MflQwNvZoEGRIWehdJdkHdz4f9Z+ubVWmRKDZ9+Hx4TmHj60mFDAkLgYzunmGfkGwiIhk+rfIMGAYcEfGT4DRGRsLCoLuta+i6cDNGw1uJvnOWlWtqc2ufIWMjYfGO4Ngnz2q3Hbqnj3SCNBmQYbHVDfGzf3CyMHEJCw5F9hwOiixYvcNTw8iAF0I7fwnMyq+bvEiGhAUfFO2JcJRgM56rWWRAio3rekxdQ7eYUwmLye+5pqH7d/tEuuhqlGfoM45cUMsJa51kK5Gw0Fsyqmraz9+IFu2DNGzJ2EzG0bMaoa9KWEyODNJ8nxU00FCfO9cqMqjex91dtoonUG3ycZKw4BCNBEhs33sqGJVVq1oJyKA4aWBEvlLu852ExeQH38RO/DC1fNM+Hy0rJsvs95wIIYjLoLGSsOBrLKDOriG/0JwVlh5aRcbsZfYI17buaZ3dyJ4SFgarrLR7sfNM+3GtophoVPbEgfzoSaXodyRhYSgyyqvbaCRGR4G5GvWVKLJnHBZxMV4SFgaJn4TVp2VVbzvqL2pva5JhrLD0DI99LhIIJCwMFT97+4dDHhSs2OauXRuXA6VgKqrbPtluU8JiXAJBS1ufvXvaj+sctYcMUR6DBAInn6f9A6I8hoSFodbPP1/UtF28Hfv9Gkdtut2X2+48FkjR0nHjJmExWRxXUWkTMU6azCuZoyirNm6pQlmVsDBCyBjExpVWsWm/r+h8rD2tZMNen0dPq4SyKmFhqI1LqbE05BWYxcKas9xWk8rqVZsEMjElLIxGBtk4v1yOEFuyBq1bu72TH78QnlUJCyOEDLaShBTFXbJMg/oq833hZlxDc69QViUsjEBGV8+Qb2j2si1uYpFpjGEs3eLmG5JDWWBKxEhYGBekhCXD1j2VLv7aQwbKKtHOKRlVNPDiTiUsjHOXIGScvxn3w1oNRvjhAzp8/j5N3kVOs4SFEVsJg0J1trPXY3UuVnxp2ioLTJe/32wfNjR1K/qqhIVxNq4/S160XLqdYLHNXUvZR0LIWLLZlUhgAuJ1gylhYRQy+CGWlLtfxqZ9vpjGYRuaQQZO43W7vSPiiwaUdCMJC+OQwYHcjtb6y+VIVhgbs5ZsXKQb0X58VHG7Aw4JCyPs4hzkaVVUtzt4PIZtsDFrKd3olyuRdITkBnEZSlgYzTb4vZ6+kbhHZUcv3P9+zR38T4ZHPCCakJzCHDDioIqX06rQ503HZPpropgACy8JC2PZBmz21as3tJWjjcPHyvgx5Qs2OJPVCHS+X32HfYeafzuOBxw6F3rgdMjhc+EnrkRsPXKPZqfTBxmLN7m4+WfiXyUoCViAYAkLIw5RP7qtYwAn9WyLCRytQsK/ZBVr7ZpCwQm6BhF7nZpZnfu8iZAOeHVlbfvL5m4SVa7aJlB6ABP79AkGpv1AW9eAZ0DWPAmLz4oAfcNWwgqjdsAH40sFN/LiE9MqSFJq7xjs6Bzs6x9Wrlb/daHgEPjTAWiYj+mTi3bofBiMEK0VWNhLWHyGGRRLF3lp34o+BH9rawu3cAuLec6YsuPoo794/gERcxudWLIQJz7ImB42ru/XOp67EY2Z67tVdyQsOIxOcRb7yAfVHUXtEYoisj3jiVWAoTs+VnWDnWXjfp9Ja5PP/Ql5BSn1S9jgiTUhS5FOR3YeEhaflcgalVDM8I3XR5g/Iq3LqtqEzeMT2KJo9+nfo2cutvmYLWSOokBSdHbnsYAth/2oqIfgQqNDk4b30VwYSdlBwuIzYIFlMDgqf/64kGAmGH3P8og/GwQX+WlYdPcO068QfRUeDk0oCdJJiWotWXl1KRmViITwdgoH8hPCF2qitGYuycY9jWgdCQvjNpHa+s7T1x6w0N+zd4f3DN8OXTQspmDSTjBC8Hxe1kxc8byJNwimxwnTal5xw9v3GxJB/Y+eVl68Hbd+jw8Mn981AThs56205yfQVyUsjJA3+fXsggYiZmcusWXmVu+6u3KHp/ClofGfux5LII/YQQwIBhslR3T/r6Es0A9kT06441gg/ZLfKqAQcqtw7ba09cM5KF2NyVWAQ/144D0+SWkVGGkMHWcJCwJY7sc9n7/eaZaF7U8/e7j5ZfgEZ2PgAii7jgd5B2cbXptdqCRpWVUb9/ko9jE7AYjvVztu3u9Huhvs4QOE8VxAs6Nr8GFqxWWbBDxeqppNhUxjj/5cU9fJFUpYGBSh09TcixaHdor0R+/u6vpOSm7jcEp6/CL/eRNlQLk2o5y0nOHUbw/oAc7sEhJG9BRxHmHRhV3dE3Md8U/lu7pScYERuRhLZqta2ny2UoMLxHNrk0ueEhb8NIolM0eD/2Vb3APC8+AN700Ugj4nEuzI+XBggd6x51QwPTtRgEWAzCduU28RISH9llMyAorqW8mmA36kbk9eg0vCAoNEWEzhD2t1qimdNUsqWoR5ikO//xt7zryiRmzPNOlE47V2S6W+LGcRh4EpcfTZ3nUiiCWuKixw7zlevPW+BpeExSdWNp7GS7fjmEI8GjgOkBn18/d5B0h6kl27/GcPzkmbU/Re+IQxDXBF+Mxw8IP8xZtcWeLqNqZYsc0jKCKfdtQfBYaEBUEJ6c9q1+y8i2Cx9cC9zNw6oTpO3TKGKQKb6dpdd1OeVopzGl91tIuYZFMkPu0+GZxf3PSxMZeweNfZPeh+jwYl5OHcocIhusBUWAXfE6YI39AcVrmIlSqvohCF0ecUpc0J80crUa+tjvCV2BPkbO2ays2OB6sMw/mLmp6U095xNABWgUE6JqmUVT31El6oGy4+TxQ3vcOxixHIj0ZDTZxKadyHGfS7VQ6mcLvjFh5XSlzCQmmv6uydzlqEWxDo1viyW8zfFA2mdU3d52/GfLPIGosWbcDpVKi89ZlaUkFJ064TgRhUAJmqsX2Y6WJo//a3cZewYP5QOmhXPGORNa5zn5CcqbsMBCzQTnGt/WuhFTKss/cTnV46hdRqeiHgv8UapnpXCrx0/vfzhkf+JxdNwgJbpAi9gdtjk86jsoyijU6dCT0ve4lrDW6BRzsiTh+o8ZnIEPA9dDZMSBjqguPg2bDSyhZl69Q4LIywbNJdAKcz8heRFgODwiatAiwy8+oo6IbXDTUE/8jUVRuUyfDYQmyU6gb4cDb4Gf01UYb5FQkLXbPdjJxaqhtgiFy/1xsfJnOnih6PEJf0uGLJRmccIpS3IthTqCFTvGByF3DMigAfdZGBW59eeULWNvs2M5D+ifGjjN8BYfMpsRT/WUmnuOjWdqEsqNF3dGCEGtP/XqZzjh84G1b/smfKYuxfIpLDK+AZcqLq5nCYJVUJCRA3b1iIVFIcxEj4PArfpsCH4ayCRv44QWYu0lkh74XnKr+uzt4E4AiPQ+NlCi/cioU/C7hM3XFDfwzc7iJrQV2LOAwju7BBMAyzhIWI0m5q7UNtYwunAiEJpZiPRg3Dh5ghordREGAVOhZ6yB//hXB9qBTO00V1aeRNvCGYjLgvtUp04MhAGFLcqg5qMwxHshxAsFnCgveZ/orKNhIfTlyJJB5i3+ng286Poh4W4wJFBe8feCXwIeSECYsGvVJYxdbD/mJBY13u1ofYqAELbJoHz4R9s9CadCPsp+qET4r1MPKaUB28JCBD9dSBn48F5D5vEGKQ+XVNbm3r8w3JPns95opNwtGLEUSuzlysm4DdvwRZuaREPSzh3mobu9D1cUwAEUwRIhJKuENBDDZH7IbYr2Yv0/nG3AOydDOnnjAL79m83xdJFmXkwcMioYaodfKqus4TV6NEeLq6Rk9CwrDMgjzzgwWfKa9qDY8pbGruYb6Lypt3nwxCOGd3ZBpY/UwzPog/HJKw0qQ8rWKjwdtEN4me3sHBoRGYZENzD1FYxFuz4JAKKVNHXUsBm3F8xWjB9p1yhfwuC5qLWbXdk8436sIC725EXNEStTVVAQ4YMLZ2wVPNBhYix5w5ZrnzYREBRW4MrAIXNs5iKothbEYiY0rIxP1puyeKwB8Oic6+T4Mic2OTisJjCrBPbD3gJ6q3IlucuBKFV53TwkU4oZ54yV6DPAuNKo/805BpI/gP1JKqCuz4oZzn9eOlFn0W2ud1vCXqDtlFdwtqe0kIF2JIxX5qVpsINDagHLoaFUQ9eQZk4q70Ds0hyp4Ak/1nQskb3rjXB9cXQAE0sEfmaf46x+9WO3yrgAaRjVEgIOXMtZinOXVllW1ADQ2CaDkeCaOqa+rCsFhc1oxCT3JpYWkTIbhgZVLPFqHVTnefAE3GmitBHNaPst5kCciQkVs7B/CosdMZJZPydZAXl1IGK1Jdwjh0/j4mPjODhRjQgYHRru5hrH4sYhY0C10saMYXeaK6tiMp/YVXcLad52NEjbPXH+w7E7r14D2YxywLFgSR3H9LPgYxyAEEvjp4PUbIQEL08M8i2vGmY9LxSxGYj/adCSYbgGqvZH/gAAOQn5Q3RUxowkwlY/HwhfCmVt0oc2N6QPT0jhRXtEQmFLvey/QLzQVzlAAEcEZJtZz2hmOSWOUqes6oHUXVA37FbGAh7DnICuTw+IXlRicWk3FbXNFcUMJqrn2cVZOcXhkaXejil3HZOgE7PxHbGJ6XbHZhWwETY2l9E2WjwzxgIZR+Ro7DSymIf+LoYnYpT0DWzZlr0TTUDIzI6RsY/nT6ED0+Dp4LQzvlR69Yx/Urn4ezAQiuHw5EdODJq1GUPOCS8FTBt31CsmEq3L4RcRivdS3m6Yw6W71a5lzPqd+iG1t6hS4yjWDx8Ur3ugiGyIQi5mbpJlcSNxZvcN560O/4pfv7TgexWay09MQpRRwNE/nPBVYQTlE4ORLo2p13CWOBVu30XLyZyfjv4qCrPTEHWw7dO3A2FK5AtD4JPPxn2TYPamqx3Oevd0YuefX6Lb/+OLM6OCqvoWnirVfsINwBbQfxuiH/cgYr15SRUbSh10RawyFA7ckrUYvWO+MrgW8RaktlhOt3Ek/9FhVwXwc4IxiGMiDkoQN61YL5LOyQzxCMqK709blF8hgssoTQNy4NXHcgflPnCqPkqu1eIIO8cpqsMPEsSqGAiBXPWP9HESRJC1uw1gkfJltDbHJZfGp53KPS+7GFf9xJZJly/wwE4fYu3k85LeFP5S9eFpc3JT+pjE8pj0su8wrIQvUFSUTYwpyUMEwdYR7u7BoYd4Vjei+jiaYTl1xqsdlt1lI7uMW5m3E4RABKaHQBsu2CMUDYAU2u8+CZ0Irq1uHhV2Qd+gQ/q2vo5FSGE9eDxMMVilQUtQTP4xciqmo6hLXzq8PCCZsjOmR37yCPvf8lXkIDtAW5cDPmyPmw6IfFJeXN+CRZkfB82AZDDAF2YucXrHGEi/ywBkw4HjwbykbDtt3dM4C1ivVKxA22oOU/uzOOfOXk1cja+o737w7qiZftnf2MOMwJjxeBObr/9+kvhicf0BBfYRfAREb/sPM3YuFDIrkZVYgyKQgoZCVhXIHhi70MQokgNTkzt5Zbbu/or6prr2no4GwGkhiW+sZOp7vpuqxG9ZQRxQSXIQr1fU1YMMdEpFFkKORBblBEDppk8H8pR5CVS/K2Q35WLkmRcQWQm+8TNo7Zyip5nwFs+/9W2q/Z4WF52G+VpftKS/cbdxLCYvI4Z8D9bFg0YoFvqM4wKkKfwdPhc6H8nO4t5V2IJ4L46fux+ZHxhRFxBbqr4hqiuDBBvKsn8TI3MDybnA52eiXb3Q4SdkPwh61zxqIxDvG/V8stcwFcmzhnaHRe6ANxv+JxIho3LDy/6Qj/U7mcBll0uBRggV8TFmRuIRmwsFbv8FozEfF/lDF4PjYonqza7rHS0mOFJY9/I97asMebjjLr99wFNOt33+UrCo2dgXAb5EoxQ0s2uio/5/mRXxS/MvZDyK1wIByt8yYm2JXdrKXW8IPx00OxEfKRuLvxV7tuF9fJbynEDYqLMZjEFzkDV4j6raLbDP8I/gTUuq8JCzS64KhCHUV+ggqCBImXURNSPh8IiNA9QoERYx/mEfINyT352wNYhSiEhRk0KKpQ/5kPSHwlMLLgblD2NftEzKbEv8yGDSijxhl4FCQEeMYR3jve5S1+C+eWuKRxV6u/o88kcQaa6CBvwYFUiwu30CUxp2VWf01YfJkiBdhGSe1SVrPt9mP+WM3556dbfKFEPMtvwJ7I4kb6EbuvIDYLeA86xcqfPQi0wYaGBkvUguAW4IPli8iJuQkrOCGiGKCEEGeKGLPBwdHI+CJVs4x0NVLw/X5lWHBvJiWEdnCA0I76yuJGS1Qs/5/+yjvMmrecHoGAnceDIMQRSuih5gAILF04267fSboXlkv5A05u45YmBAuykHHa4cnDIAFQWHwYUbCWouUKPcsUhP+MNGhQqJZKgqoPk9Myt2CJYgxNTK0QGwFL+bLVQ9TCj0fo838x1h1MPD4UZh11ibAMHFTUJmDfxQgxigF7cBS9FGs3pneqdqIZwSEAAQonuklWfv3xy5EgCXCQE4Cvga+YrL3SaFRCERvW1Dv1odcwUBTnIFVfs7AQbBbpicLv+EsZMmBBwQLcx5+ExV8i1wMVt1mxXqPfJqaWcxIixVF0hUGJtY8il5BajkUVwyjGEuzo6MCizyA/QXIOGxCLmAlDVYFnCEuR6rjXpyVShQH5CTK28wFfAdPsRKjNNOPJKazHLKtZWIh139DUQ5UZ5APWAVsApjM8KZMGcRHdmVdULxL+x7f04SC9Iiu/4ciFcGEIoVgKZ8ZZo89zJyzod7uH7D4sYuCImEKiwBsTVK8SaYlkz5I0gFhgCCwEDrCwMSbY35Ax4XPsjFhfEFbEDWocFmy9qB5UHblm9/DcjdhSA0KxeROT5cuWHv3HeCIe9ZVrKms7qEY1RxliuqAR9IYbVn9mEQaQW9Rw9OJYNXFU2Qu3Y+t1iWsmqjj7GmScuvYA+yxFntYqRMr16u1eqyxRuf9G4ODQufAbd5LveKZjRMfaW1HVjrtRrBZxjxqHBQwWLY60cfQRCjGzjqe+MQGawIh8OBB7BGLmZau4hqauD9DGc3YNAk73ngwRCu2SLa5BkXmmKDmiByI3m5BS8eBhSXRiKfQgsSQirjAsJp+ScIJ4Hh5bwN5HhgEMTwitAg3QeD6hUVjoYv8H0jKqAIQYAqPKHU2oNxFxXlTazGqbodTftDzsn5lbLxSN8amChFYABWqqwFewiYlYcN6CVD/EnH5A44/xb42vQqttWIxFTNU2drd3DPB8ivFz4mzEGBNro2Qp2mAARZxEpBC/NWGqILrMgV/DxKaO+orznUmATCZl649PqcSTMwZNm7P+YhmzawrRmpdTORUnKSp7iUghjFcwADZv/K6fyLAQqYJ4YjHMY9vg8XFmlT6STwOH2cFCfV2XeD5ESxY9sMDfgdiPWogS+2kWLOJFKJ6BH/jgryEJqWXsOBIW02Q3UUF6Jepz3+kQrBEYPzB7Hz4fhvAvOIUhvD2vqOHM7w8IB5ew0MghYEGYIFC44Zjc0tr75FkNgYNMr+FSDnXWjl+KzC1qIkBRwkIbsBCFK5qu2sQR0CWWu/inEfWjCxtd/J7q60RLWGgDGWwiLX5hWS1CqTEyFhZY4H5DDdEUJCQsyEmkcEzsoxLcoVPUaDRySFgIvwPZ/gQ3/Dd3QWJCyhZ4ufC2Z+XV67cPTR8SFvKQsJCHhIU8JCzkIWEhDwkLeUhYyEPCQh4SFvKQsJCHhIU85PH/ART7N3XyZOxcAAAAAElFTkSuQmCC);
}

pre {
  font: 16px/20px "Ubuntu Mono", monospace;
  margin: 10px 0 10px 30px;
}

code {
  font-family: "Ubuntu Mono", monospace;
}

p code {
  font-size: 17px;
}

.title {
  font-style: italic;
  text-align: left;
}

.content + .title {
  margin: 10px 0;
}

.tableblock {
  border-collapse: collapse;
  margin: 20px 0 20px;
}

.tableblock td,
.tableblock th {
  border: none;
  font-family: "Myriad Pro";
  font-stretch: condensed;
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle;
}

.tableblock td {
  font-weight: 400;
}

.tableblock th {
  background: #00978b;
  color: #fff;
  font-weight: 600;
}

.tableblock td p,
.tableblock th p {
  margin: 0;
}

.sidebarblock {
  border: 1px solid #00978b;
  margin: 10px 0 20px;
  padding: 10px;
}

.sidebarblock .title {
  font-family: "Myriad Pro";
  font-size: 140%;
  font-stretch: condensed;
  font-style: normal;
  font-weight: 600;
  margin: 10px 0;
  text-align: center;
}
